body {
  min-width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.crypto-modal {
  width: 100%;
  display: flex;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
